/* ---------------------------------

                general

------------------------------------ */

#preload {
  display: none;
}

html {
  font-size: 18px;
  opacity: 0;
}

h1 {
  color: #ecf0f1;
  font-family: "azo-sans-uber", Courier, sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "azo-sans-web", Courier, sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h3 {
  color: #450838;
  font-family: "azo-sans-web", Courier, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px 0;
}

h4 {
  align-items: center;
  color: #450838;
  display: flex;
  font-family: "azo-sans-web", Courier, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-family: "azo-sans-web", Courier, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-family: "azo-sans-web", Courier, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 15px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  margin: 0 2%;
  width: 25%;
}

section {
  padding: 100px 10%;
}

hr {
  border: 0;
  border-top: 1px solid #ecf0f1;
  width: 15%;
}

footer {
  background-color: #262626;
  padding: 25px 0;
}

.fadedIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.btn {
  background-color: #450838;
  border: solid 1px #450838;
  border-radius: 5px;
  color: #fff;
  font-family: "azo-sans-web", Courier, sans-serif;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.icon {
  background-color: #450838;
  border: solid 1px #450838;
  border-radius: 25px;
  margin: 2%;
  min-width: 34px;
  padding: 3px;
  width: 100%;
}

.btn:hover,
.icon:hover {
  background-color: #600d4e;
  border-color: #600d4e;
}

.horz-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.vert-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#logo {
  margin: 25px;
  opacity: 0.5;
  position: fixed;
  width: 60px;
}

/* ---------------------------------

            landing page

------------------------------------ */

#landing-page {
  background-blend-mode: overlay;
  background-color: #333;
  background-image: url('../assets/landingPageBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#headline-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#headline-container p {
  color: #fff;
  font-size: 1.2rem;
}

/* ---------------------------------

               intro

------------------------------------ */

#avatar {
  display: block;
  max-width: 200px;
  min-width: 125px;
  object-fit: contain;
  width: 25%;
}

#intro > p {
  text-align: center;
  width: 430px;
}

/* ---------------------------------

                bam

------------------------------------ */

#bam {
  background-color: #ecf0f1;
}

#bam-title-container {
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#bam-logo {
  display: inline-block;
  margin-right: 15px;
  width: 50px;
}

#bam h2 {
  display: inline-block;
}

#bam-info-container {
  margin-top: 75px;
}

#bam-info-container > div {
  flex-direction: column;
  width: 50%;
}

#bam-info-container > div:first-of-type {
  margin-right: 2.5%;
}

#deploy-command-gif {
  background-color: #282828;
  border: solid 10px #282828;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  width: auto;
}

#bam-info-container > div:last-of-type {
  margin-left: 2.5%;
}

#bam p:first-of-type {
  position: relative;
  top: -0.5rem;
}

#case-study-btn {
  margin-top: 25px;
  width: 228px;
}

/* ---------------------------------

              projects

------------------------------------ */

#projects > ul {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 75px;
}

#projects img {
  box-shadow: 0 0 25px #d2d7d3;
  width: 100%;
}


/* ---------------------------------

              contact

------------------------------------ */

#contact {
  padding-top: 50px;
}

#contact h3 {
  margin-bottom: 10px;
}

#contact ul {
  width: 20%;
}

#contact li {
  margin: 6%;
}

/* ---------------------------------

           media queries

------------------------------------ */

@media(max-width: 1100px) {
  h4 {
    font-size: 1.1rem;
  }

  #logo {
    margin: 20px;
    width: 55px;
  }

  #projects p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}


@media(max-width: 920px) {
  section {
    padding: 100px 15%;
  }

  li {
    margin-bottom: 100px;
    width: 100%;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  #logo {
    width: 50px;
  }

  #bam-info-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  #bam-info-container > div:first-of-type {
  	margin-right: 0;
  }

  #bam-info-container > div:last-of-type {
    margin-left: 0;
  }

  #bam-info-container > div {
    width: 90%;
  }

  #deploy-command-gif {
    margin-bottom: 50px;
  }

  #projects p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  #projects > ul {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
  }

  #contact ul {
    width: 30%;
  }

  #contact li {
    margin: 8%;
  }
}


@media(max-width: 690px) {
  #bam-logo {
    margin-bottom: 25px;
    width: 75px;
  }

  #bam-title-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
  }

  #bam-logo {
    margin-right: 0;
  }
}

@media(max-width: 570px) {
  h1 {
    font-size: 2.7rem;
    width: 80vw;
  }

  h2 {
    font-size: 1.9rem;
  }

  section {
    padding: 75px 18%;
  }

  #logo {
    margin: 15px;
  }

  #intro > p {
    width: 100%;
  }

  #bam-info-container {
    margin-top: 25px;
  }

  #projects > ul {
    width: 100%;
  }

  #case-study-btn {
    align-self: center;
  }
}

@media(max-width: 465px) {
  h5 {
    font-size: 0.6rem;
  }

  footer {
    padding: 15px;
  }

  #logo {
    width: 40px;
    margin: 15px 10px;
  }

  #bam-info-container > div {
    width: 100%;
  }

  #bam-logo {
    width: 60px;
  }

  #projects > ul {
    width: 100%;
  }

  #contact li {
    margin: 15%;
  }
}


@media(max-width: 400px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  section {
    padding: 50px 18%;
  }

  #projects > ul {
    margin-top: 50px;
  }

  #projects li {
    margin-bottom: 50px;
  }

  #projects li:last-of-type {
    margin-bottom: 0;
  }

  #case-study-btn {
    width: 180px;
  }
}
